<div>

  <h2>Edit your profile</h2>

  <form action="/profile/{{editedProfile._id}}/edit" method="POST" enctype="multipart/form-data">

    <label for="username">Username: </label>
    <input type="text" name="username" value="{{editedProfile.username}}" />
    <br />
    <label for="email">E-amil: </label>
    <input type="text" name="email" value="{{editedProfile.email}}" />
    <br />
    <label for="password">Password: </label>
    <input type="password" name="password" value="{{editedProfile.password}}" />
    <br />
    <label for="age">Age: </label>
    <input type="text" name="age" value="{{editedProfile.age}}" />
    <br />
    <label for="city">City: </label>
    <input type="text" name="city" value="{{editedProfile.city}}" />
    <br />
    <label for="image">Upload picture</label>
    <input type="file" name="image">
    <br />
     <button class="btn btn-primary border border-2 border-white">Save changes</button>

  </form>
  <a href="/restaurant">
    <button class="btn btn-primary border border-2 border-white">Go home</button>
  </a>

</div>