<div class="d-flex flex-column mb-4 justify-content-around">

<nav class="navbar bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../images/foodie-logo.png" alt="foodies" height="80">
          </a>
        </div>
      </nav>

  <h3>Edit your profile</h3>
  <div class="mx5 px5" id="formulario-sign">
  <form action="/profile/{{editedProfile._id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
    <label class="form-label"for="username" >Username: </label>
    <input class="form-control" type="text" name="username" value="{{editedProfile.username}}" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="email">E-amil: </label>
    <input class="form-control" type="text" name="email" value="{{editedProfile.email}}" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="password">Password: </label>
    <input class="form-control" type="password" name="password" value="{{editedProfile.password}}" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="age">Age: </label>
    <input class="form-control" type="text" name="age" value="{{editedProfile.age}}" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="city">City: </label>
    <input class="form-control" type="text" name="city" value="{{editedProfile.city}}" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="image">Upload picture</label>
    <input class="form-control" type="file" name="image">
    </div>
     <button class="btn btn-primary border border-2 border-white">Save changes</button>

  </form>
  </div>
  <a href="/restaurant">
    <button class="btn btn-primary border border-2 border-white">Go home</button>
  </a>
  </div>