<div>

<h2>Welcome fulanito</h2>

{{#with activeSession}}

{{username}}
<br>
{{email}}
<br>
{{city}}
<br>
{{age}}
<br>
{{image}}

{{/with}}


<a href="/profile/{{activeSession._id}}/edit"><button>Edit your profile</button></a>
<br>
{{!-- <a href="/rating/ratings"><button>Your ratings</button></a>
<br>
<a href="/rating/new-rating"><button>New rating</button></a>
<br> --}}
<a href="/restaurant"><button>Go to restaurant</button></a>
<br>


<form action="/profile/{{activeSession._id}}/delete" method="POST">
<button>Delete your profile</button>
<br>


</div>