<div >
<div>
<h2>Welcome {{activeSession.username}}</h2>

{{!-- <img src="{{activeSession.image}}" alt="profile-img"> --}}

{{#with activeSession}}
<img src="{{image}}" alt="profile-image" height="150px">

<br>
<p>Email: {{email}}</p>
<br>
<p>City: {{city}}</p>
<br>
<p>Age: {{age}}</p>
<br>
<h6>My favorites places:</h6>
{{#each favorites}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}
{{/with}}    
</div>


<div >

<a href="/profile/{{activeSession._id}}/edit">
<button class="btn btn-primary border border-2 border-white">Edit profile</button>
</a>

<a href="/rating/my-ratings">
<button class="btn btn-primary border border-2 border-white">Your ratings</button>
</a>

<a href="/restaurant">
<button class="btn btn-primary border border-2 border-white">Go home</button>
</a>

<form action="/profile/{{activeSession._id}}/delete" method="POST">
<button class="btn btn-primary border border-2 border-white">Delete your profile</button>

</div>

</div>