<div>

<h2>Welcome fulanito</h2>

{{#with activeSession}}

{{username}}
<br>
{{email}}
<br>
{{city}}
<br>
{{age}}
<br>
{{image}}

{{/with}}


<a href="/profile/{{activeSession._id}}/edit"><button>Edit your profile</button></a>
<br>
<p>FALTA EL BOTON PARA BORRAR PERFIL. RUTA CREADA PERO HAY QUE DEFINIR COMO BORRAMOS</p>
<a href="/ratings"><button>Your ratings</button></a>
<br>
<a href="/new-rating"><button>New rating</button></a>

<br>
<a href="/restaurant"><button>Go to restaurant</button></a>

</div>