<div >
<div>
<h2>Welcome {{activeSession.username}}</h2>

{{#with activeSession}}

{{username}}
<br>
{{email}}
<br>
{{city}}
<br>
{{age}}
<br>
{{image}}

{{/with}}    
</div>


<div >

<a href="/profile/{{activeSession._id}}/edit">
<button class="btn btn-primary border border-2 border-white">Edit profile</button>
</a>

<a href="/rating/my-ratings">
<button class="btn btn-primary border border-2 border-white">Your ratings</button>
</a>

<a href="/restaurant">
<button class="btn btn-primary border border-2 border-white">Go to restaurant</button>
</a>

<form action="/profile/{{activeSession._id}}/delete" method="POST">
<button class="btn btn-primary border border-2 border-white">Delete your profile</button>

</div>

</div>