<div >


<nav class="navbar bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/images/foodie-logo.png" alt="foodies" height="80">
          </a>
        </div>
      </nav>
<div id="profile">
<div>
<h3>Welcome {{activeSession.username}}</h3>

<div class="card" style="width: 18rem;">
{{#with activeSession}}
<img class="card-img-top" src="{{image}}" alt="profile-image" height="300px">
<div class="card-body">
<p class="card-text">Email: {{email}}</p>
<p class="card-text">City: {{city}}</p>
<p class="card-text">Age: {{age}}</p>
<h6 class="card-text">My favorites places:</h6>
{{#each favorites}}
<ul>
<li class="card-text">{{name}}</li>
</ul>
{{/each}}
{{/with}}    
</div>
</div>

<div class="d-flex flex-direction row">

<a href="/rating/my-ratings">
<button class="btn btn-primary border border-2 border-white">Your ratings</button>
</a>

<a href="/profile/{{activeSession._id}}/edit">
<button class="btn btn-primary border border-2 border-white">Edit profile</button>
</a>

<a href="/restaurant">
<button class="btn btn-primary border border-2 border-white">Go home</button>
</a>

<form action="/profile/{{activeSession._id}}/delete" method="POST">
<button class="btn btn-primary border border-2 border-white">Delete your profile</button>

</div>
</div>
</div>