

<nav class="navbar bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/images/foodie-logo.png" alt="foodies" height="80">
          </a>
        </div>
      </nav>
<div id="new-rating"> 
<h2>Your rating:</h2>

<h3>{{restaurantToRate.name}}</h3>

{{#if foundRating}}

<br>
<p style="color: red ">{{errorMessage}}</p>

{{else}}
<div class="mx5 px5" id="formulario-sign">
<form action="/rating/{{restaurantToRate._id}}/new-rating" method="POST">

<select name="rating">
<option value="">Choose your rating</option>

{{#each numbers}}
<option value="{{this}}">{{this}}</option>
{{/each}}
</select>
<br>
<div class="mb-3">
<label class="form-label" for="recomendedDish">Recomended dish </label>
<input class="form-control" type="text" name="recomendedDish">
</div>
<div class="mb-3"></div>
<label class="form-label" for="commentary">Commentary </label>
<input class="form-control" type="text" name="commentary">
</div>

<button class="btn btn-primary border border-2 border-white">Save</button>

</form>


{{/if}}
<br>
<a href="/restaurant"><button class="btn btn-primary border border-2 border-white">Go home</button></a>
</div>

