<div>
<h2>Your rating:</h2>

<h3>{{restaurantToRate.name}}</h3>

{{#if foundRating}}

<br>
<p style="color: red ">{{errorMessage}}</p>


{{else}}

<form action="/rating/{{restaurantToRate._id}}/new-rating" method="POST">
<select name="rating">
<option value="">Choose your rating</option>

{{#each numbers}}
<option value="{{this}}">{{this}}</option>
{{/each}}
</select>
<br>

<label for="recomendedDish">Recomended dish </label>
<input type="text" name="recomendedDish">
<br>
<label for="commentary">Commentary </label>
<input type="text" name="commentary">

<button class="btn btn-primary border border-2 border-white">Save</button>

</form>
{{/if}}

<a href="/restaurant"><button>Go back</button></a>


