<div>


{{!-- <form action="/rating/ratings"> --}}
<p>mis valoraciones</p>

{{#each restaurantRatingList}}
{{#each this.restaurant}}
<p>Restaurant:{{this.name}}</p>
{{/each}}
<br>
<p>User: {{this.user.username}} </p>
<br>
<p>Rating: {{this.rating}}</p>
<br>
<p>Recomended dish: {{this.recomendedDish}}</p>
<br>
<p>Commentary: {{this.commentary}}</p>


{{/each}}
{{!-- </form> --}}


</div>
