<div>

  <h2>User´s opinion</h2>

  {{#each restaurantRating}}
    
    {{#each this.user}}
<h4>{{this.username}}</h4>
{{/each}}
    <p>{{this.rating}}</p>
    <p>{{this.recomendedDish}}</p>
    <p>{{this.commentary}}</p>
  {{/each}}
<a href="/restaurant/{{restaurantRating._id}}">
<button class="btn btn-primary border border-2 border-white">Back</button>
</a>
{{!-- la ruta no esta llendo al id del restaurant anterior --}}

</div>