<div>
<nav class="navbar bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="/images/foodie-logo.png" alt="foodies" height="80">
          </a>
        </div>
      </nav>

<div class="card" style="width: 18rem;">
<img src="{{details.image}}"  class="card-img-top"
 alt="restaurant" width="200px" />
 <div class="card-body">

  <h5 class="card-title"
>Restaurant {{details.name}}</h5>
  <ul>
    <li class="card-text"
>Location: {{details.location}}</li>
    <li class="card-text"
>Style: {{details.style}}</li>
    <li class="card-text"
>Main Dish: {{details.mainDish}}</li>
  </ul>
  
</div>

</div>

  <form action="/restaurant/{{details._id}}" method="POST" enctype="multipart/form-data">
    <button
      class="btn btn-primary border border-2 border-white"
    >Favorites</button>
  </form >
  <br />

  <a href="/rating/{{details._id}}/new-rating">
    <button class="btn btn-primary border border-2 border-white">Add new rating</button>
  </a>
  <br />
  <a href="/rating/{{details._id}}/ratings">
    <button class="btn btn-primary border border-2 border-white">View ratings</button>
  </a>
  <br />
  {{#if powers}}
    <a href="/restaurant/{{details._id}}/edit">
      <button class="btn btn-primary border border-2 border-white">Edit
        restaurant</button>
    </a>
    <form action="/restaurant/{{details._id}}/delete" method="POST">
      <button class="btn btn-primary border border-2 border-white">Delete
        restaurant</button>
    </form>
  {{/if}}

  <a href="/restaurant">
    <button class="btn btn-primary border border-2 border-white">Go home</button>
  </a>

</div>