<div>

<h3>{{details.name}}</h3>
<ul>
    <p>Location: {{details.location}}</p>
    <br>
    <p>Style: {{details.style}}</p>
    <br>
    <p>Main Dish: {{details.mainDish}}</p>
</ul>
<p>Aqui irá la imagen</p>

<form action="/restaurant/{{details._id}}" method="POST">
<button class="btn btn-primary border border-2 border-white">Favorites</button>
</form>
<br>

<a href="/rating/{{details._id}}/new-rating" >
<button class="btn btn-primary border border-2 border-white">Add new rating</button>
</a>
<br>
<a href="/rating/{{details._id}}/ratings">
<button class="btn btn-primary border border-2 border-white">View ratings</button>
</a>
<br>
{{#if powers}}
<a href="/restaurant/{{details._id}}/edit">
<button class="btn btn-primary border border-2 border-white">Edit restaurant</button>
</a>
<form action="/restaurant/{{details._id}}/delete" method="POST">
<button class="btn btn-primary border border-2 border-white">Delete restaurant</button>
</form>
{{/if}}

<a href="/restaurant">
<button class="btn btn-primary border border-2 border-white">Go home</button>
</a>

</div>