<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    {{#if powers}}
    <a class="navbar-brand" href="/restaurant/create">Add new restaurant</a>
    {{/if}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Log out</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Find a restaurant" aria-label="Search" name="restaurantName">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


 
  <h3>Restaurants</h3>
<div>
  {{#each restaurantList}}
  <div class="card mb-3"></div>
    <img src="{{image}}" class="card-img-top" alt="image-restaurant" width="60px">
    <div class="card-body"></div>
     <h5> <a href="/restaurant/{{_id}}" class="card-title">{{name}}</a></h5>
      <p class="card-text">Comida {{style}}</p>
      <p class="card-text"><small class="text-muted">{{location}}</small></p>
    </div>
    </div>
  {{/each}}
</div>
  <br />
   

  

 