<div>

   <p>aquí está el resultado de la busqueda</p> 
   <h2>{{restaurantResult.name}}</h2>
   <h2>Location: {{restaurantResult.location}}</h2>
   <h2>Style food: {{restaurantResult.style}}</h2>
   <h2>Main dish: {{restaurantResult.mainDish}}</h2>
   <h2>{{restaurantResult.image}}</h2>
</div>